# coding: utf-8

"""
    API for Secret Network by ChainofSecrets.org

    A REST interface for state queries, transaction generation and broadcasting.  # noqa: E501

    OpenAPI spec version: 3.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SupplyApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def supply_total_denomination_get(self, denomination, **kwargs):  # noqa: E501
        """Total supply of a single coin denomination  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.supply_total_denomination_get(denomination, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str denomination: Coin denomination (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.supply_total_denomination_get_with_http_info(denomination, **kwargs)  # noqa: E501
        else:
            (data) = self.supply_total_denomination_get_with_http_info(denomination, **kwargs)  # noqa: E501
            return data

    def supply_total_denomination_get_with_http_info(self, denomination, **kwargs):  # noqa: E501
        """Total supply of a single coin denomination  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.supply_total_denomination_get_with_http_info(denomination, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str denomination: Coin denomination (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['denomination']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method supply_total_denomination_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'denomination' is set
        if ('denomination' not in params or
                params['denomination'] is None):
            raise ValueError("Missing the required parameter `denomination` when calling `supply_total_denomination_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'denomination' in params:
            path_params['denomination'] = params['denomination']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/supply/total/{denomination}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def supply_total_get(self, **kwargs):  # noqa: E501
        """Total supply of coins in the chain  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.supply_total_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: Supply
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.supply_total_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.supply_total_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def supply_total_get_with_http_info(self, **kwargs):  # noqa: E501
        """Total supply of coins in the chain  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.supply_total_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: Supply
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method supply_total_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/supply/total', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Supply',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
